@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	@apply font-sans text-base xl:text-lg;
}


h1, h2, h3{
	@apply font-serif;
}

h3{
	@apply text-4xl;
}

.no-scroll{
	overflow: hidden;
}

.container{
	@apply w-full px-5 max-w-none md:px-8 lg:max-w-[1024px] lg:px-10 xl:max-w-[1600px] xl:px-20 my-0 mx-auto;
}

.background {
	@apply w-full h-[85vh] relative;
	background: linear-gradient(132deg, #202552, #591BC5, #860d35);
	/* background: linear-gradient(132deg, #202552, #232a41, #343377);  */
	background-size: 400% 400%;
	animation: Gradient 5s ease-in-out infinite;
}

.swiper-button {
	@apply hidden md:flex cursor-pointer items-center justify-center absolute top-1/2 -translate-y-1/2 w-14 h-14 border-2 bg-transparent rounded-full ease-in-out duration-300 after:hidden before:hidden !important;
}

.testimonials-swiper-button-prev {
	@apply swiper-button -left-[5rem] md:-left-[6rem] lg:-left-[5rem] border-darkGray hover:bg-darkGray !important;
}

.testimonials-swiper-button-next {
	@apply swiper-button -right-[5rem] md:-right-[6rem] lg:-right-[5rem] border-darkGray hover:bg-darkGray !important;
}

.projects-swiper-button-prev {
	@apply swiper-button hidden md:flex lg:hidden -left-[5rem] md:-left-[6rem] lg:-left-[5rem] border-white hover:bg-white !important;
}

.projects-swiper-button-next {
	@apply swiper-button hidden md:flex lg:hidden -right-[5rem] md:-right-[6rem] lg:-right-[5rem] border-white hover:bg-white !important;
}

.swiper-pagination-bullet{
	@apply w-[.625rem] h-[.625rem] !important;
}

.projects-swiper-pagination .swiper-pagination-bullet{
	@apply bg-darkGray border-2 border-white opacity-100 !important;
}

.projects-swiper-pagination .swiper-pagination-bullet-active{
	@apply bg-white !important;
}

.testimonials-swiper-pagination .swiper-pagination-bullet{
	@apply bg-white border-2 border-darkGray opacity-100 !important;
}

.testimonials-swiper-pagination .swiper-pagination-bullet-active{
	@apply bg-darkGray !important;
}


.after-animation{
	@apply relative before:absolute before:-bottom-[.625rem] before:left-0 before:bg-lightGray before:w-full before:h-[.125rem] before:rounded-3xl after:absolute after:-bottom-[.625rem] after:left-0 after:bg-darkGray after:w-0 after:h-[.125rem] after:rounded-xl hover:after:w-full after:ease-out after:duration-300;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.hamburger {
	@apply relative w-[1em] h-[1em] text-[1.5rem] transition-all cursor-pointer;
}

.hamburger-line {
	@apply absolute right-0 w-full h-[.125em] rounded-[.125em] transition-all;
}

.hamburger-line:nth-child(1) {
	@apply top-[.125em];
}

.hamburger.is-active .hamburger-line:nth-child(1),
.w-nav-button.w--open .hamburger-line:nth-child(1) {
	@apply top-1/2 -translate-y-1/2 rotate-[-135deg];
}

.hamburger-line:nth-child(2) {
	@apply top-[.438em];
}

.hamburger.is-active .hamburger-line:nth-child(2),
.w-nav-button.w--open .hamburger-line:nth-child(2) {
	@apply right-1/2 w-0;
}

.hamburger-line:nth-child(3) {
	@apply top-[.75em] w-[.625em];
}

.hamburger.is-active .hamburger-line:nth-child(3),
.w-nav-button.w--open .hamburger-line:nth-child(3) {
	@apply top-1/2 w-full -translate-y-1/2 rotate-[135deg];
}

