@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-sans text-normalGray text-lg;
}

h1, h2, h3{
    @apply font-serif;
}

h3{
    @apply text-4xl;
}

.container{
    @apply w-full sm:px-5 md:max-w-[48rem] md:px-8 lg:max-w-[64rem] lg:px-10 xl:max-w-[100rem] xl:px-20 my-0 mx-auto;
}

.background {
    @apply w-full h-[85vh] relative;
    background: linear-gradient(132deg, #202552, #591BC5, #232a41);
    /* background: linear-gradient(132deg, #202552, #232a41, #343377);  */
    background-size: 400% 400%;
    animation: Gradient 5s ease-in-out infinite;
}
  
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}